@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	font: 100%/1.4 Marker Felt, fantasy;
     background-color: #RRGGBB;
     margin: 0;
     padding: 0;
     color: #000;
}

.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: ##FF00CA;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #BBBBBB;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: ##FFAFBE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #777777;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
